PORT=9000
MONGO_URL=mongodb://localhost:27017/auditbazaar
JWT_SECRET= A strong random string is suggested
ARBITER_1=5EvdWekzbghsmBd2AH1npDMGAZQT11111111111111111111
ARBITER_2=
ARBITER_3=
ARBITER_4=
ARBITER_5=
WEB_SOCKET=wss://rpc.shibuya.astar.network
VOTING_ADDRESS=
ESCROW_CONTRACT=
SECRET_KEY=